/*Obecné*/
body, html
{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body
{
    display: grid;
    grid-template-rows: 1fr auto;
}

*:focus {
    outline: none;
}


h1, h2, h3, h4, h5, h6, p, a, span, label
{
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 8vh;
}
h2
{
    font-size: 60px;
}

@media  screen and (max-width: 600px) {
    h2
    {
        font-size: 40px;
    }
}

label
{
    font-size: 15px;
}

.link
{
    text-decoration: none;
    color: black;
}

.no_decoration
{
    text-decoration: none;
    color: black;
}

.bold
{
    font-weight: bold;
}

.no_select
{
    user-select: none;
}

.gray
{
    color: rgb(185, 185, 185);
}

.overflow_hidden
{
    overflow: hidden;
}

.back_red 
{
    background-image: linear-gradient(#cb2d3e, #ef473a);
    background-repeat: no-repeat;
}

.back_black
{
    background-color: rgba(0, 0, 0, 0.75);
}

.back_white
{
    background-color: white;
}

.back_gray
{
    background-color: rgb(245, 245, 245);
}

.border_red
{
    border: 2px solid #ef473a;
    border-radius: 20px;

    padding: 5px;

}

.border_none
{
    border: none;
}

.angle20
{
    border-radius: 20px;
}

.shadow
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.3);
}

.mt-8
{
    margin-top: 80px;
} 
.mt-5
{
    margin-top: 50px;
}
.mt-2
{
    margin-top: 20px;
}

.mt-1
{
    margin-top: 10px;
}

.mb-2
{
    margin-bottom: 20px;
}
.mb-1
{
    margin-bottom: 10px;
}
.mb-5
{
    margin-bottom: 50px;
}
.mb-0
{
    margin-bottom: 0px;
}
.ml_5
{
    margin-left: 50px;
}

.ml_3
{
    margin-left: 30px;
}
.mr_1
{
    margin-right: 10px;
}
.mlr_3
{
    margin: 0px 30x;
}

.p1
{
    padding: 10px;
}

.size_20
{
    font-size: 20px;
}

.size_40
{
    font-size: 40px;
}

.column
{
    display: flex;
    flex-direction: column;
}

.wrap
{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.hiddenflow
{
    overflow: hidden;
}

.row
{
    display: flex;
    flex-direction: row;
}

.inline-block
{
    display: inline-block;
}

.inline-flex
{
    display: inline-flex;
}

.block
{
    display: block;
}

.show 
{
    display: block;
}

.align_center
{
    display: flex;
    align-items: center;
}

.align_start
{
    display: flex;
    align-items: flex-start;
}

.justify_center
{
    display: flex;
    justify-content: center;
}

.justify_start
{
    display: flex;
    justify-content: start;
}

.space_between
{
    display: flex;
    justify-content: space-between;
}

.relative
{
    position: relative;
}

.text_center
{
    text-align: center;
}

.text_right
{
    text-align: right;
}

/*card*/
.container
{    
    height: 100%;
    width: 100%;

    
    display: flex;
    align-items: center;
    justify-content: center;
}

.card
{
    border-radius: 15px;
    padding: 10px 30px;
    margin: 10px 0px;

    width: 80%;
    height: auto;
}

.card_line
{
    border-top: 6px solid rgb(70, 185, 255);
}

.card_form
{
    padding: 10px 30px;
    background-color: rgb(245, 245, 245);
    border-radius: 15px;
    margin: 10px 0px;
}
@media screen and (min-width: 1000px) {
    .card_form
    {
        width: 25%;
        max-width: 450px;
    }
 }
 @media screen and (max-width: 999px) {
     .card_form
    {
        width: 50%;
    }
 }
 @media screen and (max-width: 600px) {
     .card_form
    {
        width: 75%;
    }
 }


.card_album
{
    background-color: rgb(245, 245, 245);
    border-radius: 15px;
    
    padding: 10px 30px;
    margin: 10px 0px;
    width: 75%;
}
 @media screen and (max-width: 1000px) {
     .card_album
    {
        width: 80%;
    }
 }
 @media screen and (max-width: 600px) {
     .card_album
    {
        width: 85%;
    }
 }

 .card_shop
 {
    display: flex;

    background-color: rgb(245, 245, 245);
    border-radius: 15px;
    
    padding: 10px 0px;
    margin: 10px 0px;

    width: 95%;
 }

.preview
{
    max-width: 300px;
    margin: 0 auto;
}

.full_width 
{
    width: inherit;
    width: 100%;
}

.full_height
{
    height: inherit;
    height: 100%;
}

.full_vh
{
    height: 100vh;
    width: auto;
}

.width_90
{
    width: inherit;
    width: 90%;
}

.width_80
{
    width: inherit;
    width: 80%;
}

.half_width
{
    width: inherit;
    width: 50%;
}

.threequarter_width
{
    width: inherit;
    width: 75%;
}

.quarter_width
{
    width: inherit;
    width: 25%;
}

.width1500
{
    max-width: 1500px;
}

.warning
{
    margin-top: 5px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #ef473a;
}

/* Form warning */
.form_warning {
    height: 30px;
    padding: 5px 0 5px 10px;
    border: 2px solid rgb(210, 210, 210);
    border-radius: 8px;
  }
  
  .form_warning:hover,
  .form_warning:focus {
    border-color: #ef473a;
  }

  .form_warning:focus
  {
    width: 100%;
    max-width: 400px;
    height: 30px;
    padding: 5px 0 5px 10px;
    border-radius: 8px;
  }
  
  /* Form text */
  .form_text {
    width: 100%;
    max-width: 400px;
    height: 30px;
    padding: 5px 0 5px 10px;
    border: 2px solid rgb(210, 210, 210);
    border-radius: 8px;
  }
  
  .form_text:hover,
  .form_text:focus {
    border-color: black;
  }
  
  /* Form submit */
  .big_submit {
    height: 75px;
    width: 150px;
  }
  
  .small_submit {
    height: 50px;
    width: 100px;
  }
  
  .form_submit {
    font-size: 15px;
    background-color: white;
    border: none;
    border-radius: 20px;
  }
  
  .form_submit:hover {
    background-color: rgb(100, 195, 255);
  }
  
  /* Form link */
  .form_link {
    font-size: 13px;
    margin-bottom: 20px;
  }
  
  .form_link a {
    color: rgb(0, 130, 185);
    text-decoration: none;
  }
  
  /* Form checkbox */
  .form_check {
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 130, 185);
    font-size: 20px;
    height: 25px;
    width: 25px;
    margin-left: 200px;
    padding: 2px;
    background: white;
    border: 2px solid rgb(210, 210, 210);
    border-radius: 10px;
  }
  
  .form_check:hover {
    cursor: pointer;
    border-color: black;
  }
  
  .form_check:checked {
    background-color: rgb(100, 195, 255);
    border-color: rgb(0, 130, 185);
  }
  
  .form_check:checked::after {
    content: "\2713";
  }
  
  /* Form file */
  input[type="file"] {
    display: none;
  }
  
  .form_file {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 400px;
    padding: 5px 0 5px 10px;
    font-size: 20px;
    color: rgb(185, 185, 185);
    background-color: white;
    border: dashed 2px rgb(210, 210, 210);
    border-radius: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    /* Form text */
    .form_text {
      max-width: 100%;
    }

    .form_warning:focus {
        max-width: 100%;
    }
  
    /* Form checkbox */
    .form_check {
      margin-left: 0;
    }
  
    /* Form file */
    .form_file {
      max-width: 100%;
      height: auto;
    }
  }
  

/*Circle*/
.circle
{
    position: relative;
    width: 100%;
    height: 40vh;

    overflow: hidden;
}
.circle::before
{
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(#cb2d3e, #ef473a);

    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(1.5);
    z-index: -1;
}

/* Šikmý */
.slanted
{
    position: relative;
    width: 100%;
    min-height: 400px;
    max-height: 500px;

    overflow:hidden;
}
.slanted::after
{
    content:"";

    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;

    background-image: linear-gradient(#cb2d3e, #ef473a);

    transform: skewY(-2.5deg);
    transform-origin: bottom left;
    z-index: -1;
}

/*Nav*/

.absolute_top
{
    position: fixed;

    width: 100%;
    top: 0;
}

nav
{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

    width: 100%;
    height: auto;

    position: relative;
    z-index: 999;
}

.drop_menu
{
    position: relative;
    display: flex;
    justify-content: center;

    margin-right: 20px;
}

.drop_content
{
    display: none;
    position: absolute;
    top: 100%;
}

.drop_item
{
    display: flex;
    
    padding: 15px 10px;  

    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.drop_item:hover
{
    background-color: black;
}

.drop_menu:hover .drop_content
{
    display: block;
}

.menu
{
    display: flex;
    align-items: center;
    
    margin-left: 20px;
}
.menu_item
{    
    height: 80px;
    display: flex;
    align-items: center;

    padding: 0 20px;

    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

}
.menu_item:hover
{
    background-color: black;
}

.menu_checkbox
{
    display: none;
}

.drop_checkbox
{
    display: none;
}

.menu_checkbox_icon
{
    display: none;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 5px;
}


@media screen and (max-width: 800px) {
    nav
    {
        flex-direction: column;
        align-items: center;
    }

    .menu
    {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .menu_item
    {
        height: auto;
        padding: 10px;
    }

    .right
    {
        margin-left: 0;
    }

    .disabled
    {
        pointer-events: none;
    }

    .drop_checkbox:checked ~ .drop_menu
    {
        display: block;
    }

    .drop_menu
    {
        display: none;
    }

    .menu_checkbox:checked ~ .menu
    {
        display: block;
    }

    .menu_checkbox_icon
    {
        display: block;
    }

}


.right
{
    margin-left: auto;
}

.search
{
    height: 40px;
    margin: 0;

    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid lightgray;
    border-radius: 10px;
}

.menu_text
{
    height: 20px;
    width: 300px;

    padding-left: 20px;

    color: white;
    font-size: 15px;

    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;

}
.menu_text::placeholder
{
    color: lightgray;
}

.menu_submit
{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;

    color: lightgray;
    font-size: 15px;
    font-weight: bold;

    padding-right: 20px;
}
.menu_submit:hover
{
    color: white;
    cursor: pointer;
}


/*Footer*/
footer
{
    margin-top: auto;

    width: 100%;
    height: 50px;

    background-color: black;
    color: white;

    z-index: 0;
}

footer p
{
    font-size: 15px;
}

/* Album */
/* .album
{
    width: 250px;
    height: 250px;

    padding: 0;
    margin: 10px;

    border-radius: 15px;

} */

.album_image
{
    max-width: 200px;
    width: 15vw;
    height: 15vw;

    border-radius: 10%;
}

.pic
{
    width: 220px;
    height: 220px;

    cursor: pointer;
}


.dropbtn 
{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.fixed_btn
 {
    position: fixed;
    bottom: 25px;
    right: 1%;
 }

.round_btn
{
    border-radius: 50%;

    width: 80px;
    height: 80px;

    font-size: 30px;
}
@media screen and (max-width: 1000px) {
    .round_btn
    {
        width: 50px;
        height: 50px;

        font-size: 20px;
    }
}

@media screen and (max-width: 750px) {
    .round_btn
    {
        border-radius: 25px;

        padding: 3px;
        width: 35px;
        height: 25px;

        font-size: 15px;
    }
}

.auto_btn
{
    border-radius: 50px;
    height: 50px;
    width: auto;

    padding: 5px 15px;
}

.white_btn
{
    background-color: white;
    color: black;
}
.white_btn:hover
{
    background-color: rgb(245, 245, 245);
}

.red_btn
{
    background-color: #ef473a;
    color: white;
}
.red_btn:hover
{
    background-color: #cb2d3e;
}

.svg_btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    cursor: pointer;
}

/* Položky v flexbox */
.item_3
{
    display: inline-block;
    margin: 5px;        
    height: auto;
    width: calc(100% * (1/3) - 10px - 1px);
}
@media screen and (max-width: 1000px) {
    .item_3 {
        width: calc(100% - 10px - 1px);
    }
}


.item_4
{
    display: inline-block;
    margin: 5px;        
    height: auto;
    width: calc(100% * (1/4) - 10px - 1px);
}
@media screen and (max-width: 1000px) {
    .item_4 {
        width: calc(100% * (1/2) - 10px - 1px);
    }
}

@media screen and (max-width: 600px) {
    .item_4, .item_2 {
        width: calc(100% - 10px - 1px);
    }
}

.item_5
{
    display: inline-block;
    margin: 5px;        
    height: auto;
    width: calc(18% - 10px - 1px);
}

.item_2
{
    display: inline-block;
    margin: 5px;        
    height: auto;
    width: calc(100% * (1/2) - 10px - 1px);
}

.item_6
{
    margin: 5px;
    height: auto;
    width: calc(100%*(1/6) - 10px -1px);
}

.fullscreen
{
    display: fixed;
    position: fixed;
    top: 0;
    left: 0;
    
    background-color: rgba(0, 0, 0, 0.9);

    height: 100%;
    width: 100%;

    z-index: 99999;
}

.fullscreen img
{
    max-width: 95%;
    max-height: 95%;
}

.add
{
    width: 60%;
    height: auto;
}

.alert
{
    padding: 20px;
    width: 300px;
    background-color:rgb(245, 245, 245);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}